@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Imperial Script', cursive; */
:root {
	--p-black-50: hsl(175, 7%, 33%);
	--p-black-100: hsl(184, 11%, 28%);
	--p-black-200: hsl(194, 13%, 20%);
	--p-black-200-50: hsla(193, 14%, 20%, 0.5);
	--p-brown-100: hsl(44, 21%, 90%);
	--p-brown-100-90: hsl(44, 21%, 90%, 0.9);
	--p-brown-200: hsl(27, 28%, 50%);
	--p-brown-200-30: hsla(27, 28%, 50%, 0.3);
}

* {
	font: inherit;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
}

@layer components {
	.p-container {
		@apply px-4 sm:px-6;
	}

	.grid-flow {
		@apply grid gap-6;
	}

	.btn {
		@apply p-1.5 rounded-md transition-colors;
	}
	.btn-primary {
		@apply hover:bg-primary-black-100/90 text-primary-brown-100 bg-primary-black-100 shadow-lg font-semibold;
	}
	.btn.disabled {
		@apply cursor-not-allowed bg-primary-black-100/80 hover:bg-primary-black-100/80;
	}

	.card {
		@apply p-4 rounded-lg bg-primary-brown-100 flex flex-col gap-4;
	}
	.card .task-content {
		@apply truncate cursor-pointer hover:bg-primary-brown-200-30 w-full py-1 px-2 rounded-lg transition-colors;
	}

	.form {
		@apply flex flex-col gap-4 p-5 relative w-80 max-w-full rounded-lg bg-primary-brown-100;
	}

	.section {
		@apply rounded-lg h-full p-6 md:p-8 bg-primary-brown-200-30 shadow-md relative grid gap-6 content-start;
	}

	.section__heading {
		@apply text-2xl font-bold text-primary-black-100;
	}
	.cards-container {
		@apply h-full overflow-y-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 drop-shadow-md rounded-lg;
	}

	.menu__link,
	.menu-btn {
		@apply flex items-center justify-between border-b cursor-pointer pb-2 hover:text-primary-brown-200 hover:border-b-primary-brown-200 transition-colors;
	}
	.menu__link.active {
		@apply text-primary-brown-200 border-b-primary-brown-200;
	}

	.sidebar {
		@apply w-[280px] bg-primary-black-200 h-full fixed top-0 left-0 py-8 text-primary-brown-100 flex flex-col gap-16 transition-all overflow-auto shadow-md shadow-black/30;
	}
}
